#This is the config for the rundocker script, if you have it in your path then just run it to start the docker
#https://github.com/hightekvagabond/rundocker
PROJECTNAME="aidocumentor"
MOUNTME=(
    "directory:$LOCALDIR/code  mount:/usr/src/app"
    "directory:$HOME/.aws  mount:/root/.aws"
    "directory:$HOME/.ssh  mount:/root/.ssh"
    "directory:$HOME/.gitconfig  mount:/root/.gitconfig"
    "directory:$HOME/.git-credentials  mount:/root/.git-credentials"
    "directory:$HOME/.aidocumentor  mount:/root/.aidocumentor"
)
